body {
  margin:0;
  font-family:Arial;
  background:#f5f5f5;
}
.topbar {
  background:#ffe600;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow:0 2px 5px rgba(0,0,0,.2);
}
.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* EXACTAMENTE 3 por fila */
    gap: 20px;
    padding: 20px;
}

.product {
  background:white;
  padding:15px;
  border-radius:10px;
  box-shadow:0 2px 5px rgba(0,0,0,.1);
  text-align:center;
}
.product-img img {
    width: 100%;
    height: 250px;   /* la puedes subir aún más */
    object-fit: contain;
    background: #fff;
    padding: 15px;
}

.btn {
  background:#00a650;
  color:white;
  padding:10px;
  border:none;
  border-radius:6px;
  cursor:pointer;
  margin-top:10px;
}